# ########### ENVIRONMENT ########### #
NODE_ENV=development

# ######### SERVER SETTINGS ######### #
SERVER_PORT=8080
SERVER_HOST=localhost

# ######## DATABASE SETTINGS ######## #
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_NAME=greenbin_db

# ########## TEST SETTINGS ########## #
TEST_DATABASE_NAME=:memory:
TEST_DATABASE_PORT=5433
TEST_DATABASE_USER=postgres
TEST_DATABASE_PASS=postgres
TEST_DATABASE_HOST=localhost

# ########### JWT SETTINGS ########## #
ACCESS_TOKEN=secret
REFRESH_TOKEN=secret
ACCESS_TOKEN_EXPIRES_IN=10m
REFRESH_TOKEN_EXPIRES_IN=7d

# ############# PG ADMIN ############ #
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=secret
PGADMIN_PORT=5050
