# Ignore all files in the node_modules directory
node_modules/


# Ignore all files in the dist directory
dist/

# Ignore a specific file
specific-file.js

# Ignore all files with a specific extension
*.txt

# Ignore all files in a specific directory
notes/
